.datahub-view {
  .search-action {
    background-color: @blue-4;
  }

  #search-box {
    background: @blue-4 !important;
  }

  .searchapp-datahub {
    /**
      * Search box
      */
    .sui-search-box .search-input .terms-box {
      border-color: @blue-5;

      .terms-box-left .search-icon svg {
        fill: @blue-5 !important;
      }

      .input-controls .clear-button {
        border-color: @blue-5 !important;
      }

      .input-controls i.close.icon {
        color: @blue-5 !important;

        &:before,
        &:after {
          background-color: @blue-5 !important;
        }
      }
    }

    /**
      * Tabs
      */
    .ui.secondary.pointing.content-section-tabs.menu {
      a.item {
        color: @blue-grey-5;

        &.active {
          border-color: @blue-5;
          color: @blue-5;
        }
      }
    }

    /**
      * Filters
      */
    .above-results .sorting .inline.dropdown > span,
    .dropdown-facets-list .ui.button.sui-button:hover,
    .ui.basic.button.sui-button,
    .ui.basic.button.sui-button:active {
      color: @blue-5 !important;
    }

    /**
      * Pagination
      */
    .search-body-footer {
      .ui.button.pagination-item {
        &.active,
        &:hover {
          color: @blue-5 !important;
        }

        &:after {
          border-color: @blue-5;
        }
      }
    }
  }
}

/**
* Datahub item view
*/
.view-datahub-item {
  color: @blue-grey-5;

  .eea.banner {
    background: @blue-4;

    .gradient {
      background: none;
    }

    .subtitle > a {
      color: inherit;
    }
  }

  .search-action {
    background-color: @blue-4;
  }

  #search-box {
    background: @blue-4 !important;
  }

  .dataset-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  .eea.callout {
    border-color: @blue-5;
    margin-bottom: 3em;
    color: @blue-grey-5;
  }

  .ui.accordion .list .item {
    > .content {
      display: flex;
      align-items: center;

      .item-protocol {
        margin-left: 0.5em;
      }

      .icon {
        margin-right: 0.5em;
      }

      .item-link {
        margin: 0 0.5em;
      }
    }

    .item-description {
      display: -webkit-box;
      overflow: hidden;
      margin-top: 0.7em;
      -webkit-box-orient: vertical;
      font-size: 80%;
      -webkit-line-clamp: 3;
    }
  }

  .info-wrapper {
    padding: 2em;
    margin: 3em 0;
    background-color: #f9f9f9;
    color: #2e3e4c;
    font-size: 18px;

    .info-content {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
    }

    .info-title {
      margin-bottom: 1.3em;
      font-weight: 700;
    }
  }

  .geotags {
    margin: 0.5em 0;
    columns: 5;
    font-size: 15px;
    list-style-type: none;

    span {
      display: block;
    }
  }

  .related-wrapper {
    margin: 2em 0;

    .ui.cards {
      .ui.card {
        .content {
          min-height: 148px;
          background-color: @deepBlue;

          .description {
            color: white;
            font-size: 16px;
          }
        }

        &:hover {
          border: none;
          box-shadow: none;
        }
      }
    }

    h2 {
      color: @darkMidnightBlue;
    }
  }

  .tag-item {
    display: inline-block;
    padding: 2px 5px;
    margin: 5px;
    background: #dcdcdc;
    border-radius: 0.5em;
    color: black;
    font-size: 12px;
    line-height: 2;
    word-break: keep-all;
  }

  .metadata-wrapper {
    margin-top: 3.5em;
  }

  .metadata-section,
  .section-wrapper {
    margin-top: 2em;
  }

  .formats {
    margin-left: 1em;
  }

  .dataset-content {
    display: flex;
    justify-content: space-between;

    > div {
      margin-bottom: 1em;
    }
  }

  .dataset-pdf {
    .pdf-btn {
      margin: 0;
      font-weight: 500;
    }
  }

  .pdf-btn {
    margin-top: 2em;
    font-weight: 500;

    a {
      color: inherit;
    }
  }
}

// .temporal-coverage {
//   display: flex;
//   align-items: center;
//   margin: 2em 0;

//   .time-range {
//     position: relative;
//     display: flex;
//     align-items: center;
//     padding: 0.5em 1em;
//     background-color: @darkCerulean;
//     color: white;
//     font-size: 23px;
//     font-weight: 700;

//     span {
//       margin: 0 10px;
//       line-height: 19px;
//     }

//     &:before,
//     &:after {
//       position: absolute;
//       top: -6px;
//       width: 6px;
//       height: 125%;
//       background-color: @darkCerulean;
//       content: ' ';
//     }

//     &:before {
//       left: 0;
//     }

//     &:after {
//       right: 0;
//     }
//   }

//   .side-year {
//     display: flex;
//     align-items: center;
//     padding: 0.2em 1.3em;
//     background-color: #d2d9de;
//     color: white;
//     font-size: 19px;
//     font-weight: 500;
//   }
// }

// .dataset-header {
//   margin-bottom: 3em;

//   h1 {
//     color: @blue-grey-5;
//   }

//   .dataset-header-bottom {
//     color: @blue-grey-5;
//     font-size: 14px;
//     font-weight: 700;

//     .header-data:not(:last-child) {
//       position: relative;
//       display: inline-block;
//       padding-right: 1.5em;

//       &:after {
//         position: absolute;
//         top: 3px;
//         right: 10px;
//         height: 70%;
//         border-left: 2px solid @blue-grey-5;
//         content: ' ';
//       }
//     }
//   }
// }

.format-label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  margin-right: 5px;
  background-color: #d3d3d3;
  border-radius: 0.25em;
  color: #434343;
  font-size: 65%;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.dataset-item {
  display: flex;
  justify-content: space-between;

  span {
    font-weight: 500;
  }
}

.more-like-this {
  margin-top: 3.5em;

  .card-description {
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
  }
}
