div#page-document .searchlib-block {
  .dropdown-facets-list {
    .horizontal-dropdown-facets {
      display: flex;
      gap: 1em;
    }

    .sidebar-content {
      height: 100%;
      background-color: white;
      padding: 1em;
    }
  }
}
