.searchlib-block {
  .ui.dimmer.facet-dimmer {
    position: fixed;
    background-color: rgba(249, 249, 249, 0.4) !important;
  }

  .horizontal-dropdown-facets {
    display: flex;
    align-items: center;
  }

  .dropdown-facets-list {
    .dropdown-facet {
      margin-bottom: 0 !important;

      .ui.dropdown {
        position: relative;

        > span {
          position: relative !important;
          display: inline-block;
          overflow: hidden;
          padding: 0.5em 1em;
          margin-bottom: 0;
          background-color: white;

          // &::after {
          //   position: absolute;
          //   bottom: -7px;
          //   left: 0;
          //   width: 100%;
          //   height: 10px;
          //   background-color: white;
          //   content: '';
          // }
        }

        &.active {
          > span {
            z-index: 99999 !important;
            box-shadow: 0 5px 0 #fff, 0 0 4px rgba(0, 0, 0, 0.25);
            color: @green-5;
            font-weight: 700;
          }

          .menu {
            z-index: 9999 !important;
          }
        }

        .divider {
          color: @blue-grey-5;
          font-size: 16px;
        }

        .menu {
          bottom: auto !important;
          min-width: 368px;
          padding: 1em;
          border: none;
          border-bottom: 0.5px solid #4c677f;
          margin-top: -6px;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

          .histogram-facet {
            width: 350px;
          }

          .ui.button {
            margin-top: 1em;
          }
        }

        .icon.chevron {
          position: relative;
          top: -1px;
          margin-left: 0.3em;
          font-size: 0.6em;
        }
      }

      .sui-facet-search {
        border: 0.5px solid #c4c4c4;
        margin: 0.7em 0;
        border-radius: 0;
        font-size: 14px;
      }

      .facet-label {
        color: @green-5;
        font-size: 18px;
        font-weight: 700;
      }

      .clear-filters {
        padding: 0;
        margin: 0 !important;
        background-color: transparent;
        color: @blue-5;
        float: right;
        font-size: 14px;
        font-weight: 500;
      }

      .clear-btn {
        padding-bottom: 0.5em;
        margin: 0 !important;
        color: @blue-5 !important;
      }

      .sui-facet-search__text-input {
        font-size: 14px;
      }

      .sui-multi-checkbox-facet__option-label {
        justify-content: initial;
        margin: 0.5em 0;
      }

      .sui-multi-checkbox-facet__option-count {
        display: flex;
        align-items: center;
        margin: 0;
        margin-left: 0.5em;
        color: @blue-grey-5;
        font-size: 16px;
        font-weight: 300;
      }

      .sui-multi-checkbox-facet__option-input-wrapper {
        position: relative;
        max-width: none;
        flex: none;

        input {
          position: absolute;
          width: 0;
          height: 0;
          cursor: pointer;
          opacity: 0;
        }

        .sui-multi-checkbox-facet__checkbox {
          position: absolute;
          width: 0;
          height: 0;
          cursor: pointer;
          opacity: 0;
        }

        .sui-multi-checkbox-facet__input-text {
          padding-left: 30px;
          font-size: 16px;
        }

        .checkmark {
          position: absolute;
          top: 2px;
          left: 0;
          width: 20px;
          height: 20px;
          border: 1px solid @blue-5;
          background-color: #fff;
        }

        input:checked ~ .checkmark {
          background-color: @blue-5;
        }

        .checkmark:after {
          position: absolute;
          display: none;
          content: '';
        }

        input:checked ~ .checkmark:after {
          display: block;
        }

        .checkmark:after {
          top: 3px;
          left: 7px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
        }
      }

      .sui-facet.searchlib-multiterm-facet {
        // custom facet scrollbar
        ::-webkit-scrollbar {
          width: 8px;
        }

        ::-webkit-scrollbar-track {
          background-color: #d9d9d9;
          border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
          background: @blue-5;
          border-radius: 10px;
        }
      }

      .sui-multi-checkbox-facet {
        padding: 0;
      }

      .facet-term-controls {
        padding: 0;
        border: none;

        .sui-multi-checkbox-facet__input-text {
          padding: 0;
        }

        .sui-multi-checkbox-facet__option-label {
          justify-content: space-between;
        }

        .match-select {
          padding: 5px;
          border: 0.5px solid #c4c4c4;
          margin: 0;
          background-color: transparent;
          border-radius: 3px;
        }
      }

      // .sui-facet.searchlib-multiterm-facet {
      //   > div:last-child {
      //     // TODO: find a better way to define the multiterm facet height
      //     height: 350px !important;
      //   }
      // }
    }

    .histogram-facet {
      padding-bottom: 2em;
    }

    .horizontal-dropdown-facets {
      .dropdown-facet {
        display: inline-block;
        margin: 0 0.8em 1em 0;
      }
    }

    .ui.right.sidebar {
      background-color: white;
      box-shadow: 0 0 20px rgba(175, 175, 175, 0.8) !important;
    }

    .sidebar-wrapper {
      display: flex;
      height: 100%;
      flex-direction: column;
      padding: 1em;

      .sidebar-footer {
        margin-top: 1em;
      }

      .sidebar-content {
        overflow: auto;
        background-color: white;

        .ui.card.term .header {
          border: none;
          color: #3d5265;
          font-size: 16px;
          font-weight: 400;
        }

        .ui.card.term span.count {
          color: #3d5265;
          font-weight: 400;
        }

        .ui.card.term:hover {
          background: #fff !important;
          box-shadow: none;
        }

        .ui.card.term.active .header,
        .ui.card.term.active span.count {
          color: #004b7f;
          font-weight: 700;
        }

        .ui.accordion .title i:before {
          font-size: 2rem;
        }
      }
    }

    .ui.card.term.active-term {
      width: auto !important;
      min-width: auto;
      margin: 5px 1.5em 5px 0 !important;

      .header,
      span.count {
        color: @secondaryColor;
        font-weight: 700;
      }
    }

    .facets-wrapper {
      margin: 1.5em 0 0 0;
    }

    .ui.card.term {
      min-width: 100px;
      margin-top: 2em;

      &.disabled {
        .header,
        span.count {
          color: #bfbfbf;
        }
      }

      .clear-filters {
        margin-left: 5px !important;
      }

      .header {
        border: none;
        color: @deepBlue;
        font-size: 14px;
        font-weight: 400;
      }

      .content {
        flex-grow: initial;
        padding: 0;
        padding-bottom: 0.5em;
      }

      &.active {
        .header,
        span.count {
          color: @darkCerulean;
          font-weight: 700;
        }

        &:hover {
          background: transparent !important;
        }
      }

      &:hover {
        border: none;
        background: transparent !important;
        box-shadow: none;
      }

      .title {
        margin-right: 5px;
      }

      .count {
        color: @deepBlue;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .ui.button.sui-button {
      padding: 0;
      margin: 0;
      margin-right: 1.5em;
      color: @secondaryColor !important;
      font-weight: 600;

      &:hover,
      &:active,
      &:focus {
        border: none;
        background: none !important;
        box-shadow: none;
        color: @secondaryColor !important;
      }
    }
  }
}
