div#page-document .searchlib-block {
  .top-facetslist-wrapper {
    margin: 1.5em 0 !important;
  }

  .ui.inverted.segment.filter-list {
    padding: 0.4rem;
    background-color: #004b87;
    border-radius: 0.5rem;

    .filter-list-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        box-shadow: none !important;
      }
    }

    .filter-list-content {
      padding: 0rem 1rem 1rem 1rem !important;
    }

    .filter-list-item {
      display: flex;

      .filter-name {
        padding-right: 0.6em;
      }
    }
  }

  div.col-left {
    padding: 0 5px;
    margin-top: 3em;
  }

  div.inline-filter-list {
    width: 100%;
    min-height: 50px;
    background: white;

    div.filter-list {
      padding-right: 0px;
      padding-left: 0px;
      margin-top: 0px;
      margin-bottom: 10px;
      background-color: white;
      border-radius: 0px;

      div.filter-list-header {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: @secondaryColor !important;
        font-size: 14px;

        i.dropdown.icon {
          position: relative;
          top: 2px;
        }
      }

      div.filter-list-content {
        position: relative;
        top: -5px;
        padding-bottom: 0.5rem !important;
        background-color: @sf-light-gray;

        div.filter-list-item {
          div.filter-name {
            position: relative;
            top: 3px;
            color: @deepBlue;
            font-size: 14px;
          }

          div.ui.labels {
            div.label {
              padding: 6px;
              font-size: 14px;
            }
          }
        }
      }

      .ui.inverted.accordion .title:not(.ui) {
        color: @deepBlue;
      }

      .ui.divider {
        border-top: none !important;
        margin-top: 14px;
      }

      div.ui.label {
        background: white;
      }

      button.reset-filters {
        color: @secondaryColor !important;
        font-size: 14px;

        i.icon {
          margin-left: 3px;
        }
      }
    }
  }

  .ui.fixed.top.sticky {
    overflow: auto;
    max-height: 100vh;
  }

  .show-filters {
    margin-top: 0.3em;
    margin-right: 0px;
    background: @sf-light-gray !important;
    border-radius: 2px;
    color: @secondaryColor !important;
    float: right;
    font-size: 12px;
  }

  .filter-list-item {
    max-width: 100%;

    .ui.label {
      display: inline-flex;
    }

    img.facet-option-icon {
      display: inline;
      max-height: 12px !important;
      margin-right: 0.5em;
      background: white;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  // .card .meta {
  //   color: @s-medium-gray2 !important;
  // }
}

.facets-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0;
}

.ui.modal.filters-modal {
  color: @lightBlack;

  .header {
    border-bottom: 1px solid @midGray;
    color: @lightBlack;
  }

  .modal-content-section {
    margin-bottom: 2em;
    font-size: 24px !important;
  }

  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .ui.button.add-filter {
    margin: 1em 2em 1em 0 !important;
    background: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: @lightBlack;
    font-weight: 700;
  }
}

.facet-list-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;

  h4 {
    margin: 0;
  }
}

.facet-list-header {
  .modal-section-title {
    margin-bottom: 0 !important;
  }
}

.modal-section-title {
  color: @lightBlack;
}

.ui.basic.button.clear-btn {
  padding: 0.8em;
  color: @secondaryColor !important;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    border: none;
    box-shadow: none;
  }
}

.ui.button.add-facet-btn {
  margin: 0 20px 20px 0 !important;
  background: @midGray !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  color: @lightBlack !important;

  &:hover {
    background: #cfcfcf !important;
  }
}

.ui.card.facet {
  width: auto !important;
  border: none !important;
  margin: 0 20px 20px 0 !important;
  background: @midGray !important;
  border-radius: 0 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  color: @lightBlack !important;

  &:hover {
    background: #cfcfcf !important;
  }

  .content {
    padding: 10px 25px;
  }

  .filter.description {
    display: flex;

    .ui.label {
      padding: 5px;
      margin-top: 4px;
      margin-bottom: 0px;
      background: @primaryColor;
      color: white;
      font-size: 12px;

      .text {
        min-height: 13px !important;
      }
    }
  }

  &.active {
    .label {
      max-width: 100%;
      color: @secondaryColor;
      font-weight: 600;

      .text {
        display: block;
        overflow: hidden;
        max-width: calc(100% - 14px);
        float: left;
        text-overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.ui.card .card-header {
  display: flex !important;
  align-items: center;
  padding: 0px !important;
  margin: 0px !important;
  color: @lightBlack;
  font-size: 16px;
  font-weight: 700;
  text-align: center !important;

  .text {
    display: flex;
    align-items: center;
  }

  .clear-filters {
    position: relative;
    width: 16px;
    height: 16px;
    padding: 3px;
    border: 1px solid @lightBlack !important;
    margin-left: 1.2em;
    background: none !important;
    border-radius: 2px;
    box-shadow: none;
    color: @lightBlack;
    opacity: 1;

    &:hover {
      border: none;
      box-shadow: none;
      outline: none;
    }

    i.close.icon {
      position: absolute;
      top: 3px;
      left: -4px;
      margin: 0 !important;
      color: @lightBlack;
      opacity: 1;

      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: 11px;
        width: 1px;
        height: 9px;
        background-color: @lightBlack !important;
        content: ' ';
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.ui.card.active-term {
  .clear-filters {
    border: 1px solid @secondaryColor !important;

    i.close.icon {
      &:before,
      &:after {
        background-color: @secondaryColor !important;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  div.filter-list-item.more-like-this {
    .label {
      width: 100%;
    }

    i.icon.delete {
      top: 23px !important;
      right: 23px !important;
    }
  }
}

// .filter-list-item.more-like-this {
//   margin-bottom: 1em;
//
//   div.ui.label {
//     width: 100%;
//   }
//
//   i.icon.delete {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     color: @secondaryColor;
//   }
//
//   div.meta {
//     line-height: normal;
//
//     i.icon {
//       margin-right: 0.5em;
//     }
//   }
//
//   a.centered {
//     img {
//       width: 100%;
//       height: auto;
//       max-height: 200px;
//       margin-top: 0.5em;
//       margin-bottom: 0.5em;
//       object-fit: cover;
//       object-position: top;
//     }
//   }
//
//   h4 {
//     margin-top: 0.5em;
//     line-height: inherit;
//   }
// }

// .filter-list-item.more-like-this > .labels > .label {
//   overflow: hidden;
//   max-width: 100%;
//   padding: 0px;
//   margin: 0px;
// }
//
// .mlt-filter {
//   img {
//     width: 100%;
//     height: auto;
//   }
//
//   a {
//     font-size: 12px;
//   }
//
//   .meta {
//     font-size: 12px;
//     font-weight: 400;
//   }
// }
