.landing-page-container {
  margin-top: 5em;

  .search-tab {
    margin-top: 4em;

    .ui.tab {
      padding-right: 0;
      padding-left: 0;
    }

    .ui.menu {
      a.item {
        font-size: 20px;
      }

      &::-webkit-scrollbar {
        height: 0.3rem !important;
      }
    }
  }

  .landing-page-cards {
    padding: 0 1.25rem;

    .ui.cards {
      .ui.card {
        margin-top: 2em;
        color: @deepBlue;
        cursor: pointer;

        &:hover {
          border: none;
          box-shadow: none;
        }

        .content {
          flex-grow: initial;
          padding: 0;
          padding-bottom: 0.5em;
        }

        .content > .header {
          color: @deepBlue;
          font-size: 18px;
          font-weight: 400;
        }

        .content.extra {
          color: @deepBlue;
        }

        img.facet-option-icon {
          display: block;
          width: auto;
          height: 30px !important;
          margin-bottom: 0.5em;
          filter: grayscale(100%);
        }
      }
    }
  }

  .tab-info {
    margin: 1.5em 0;
    color: @grey;
    font-size: 85%;
  }
}

@media only screen and (max-width: @tabletBreakpoint) {
  .landing-page-cards {
    .ui.cards {
      display: grid;
      justify-content: space-between;
      padding-right: 2px;
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));

      .ui.card {
        width: unset;
      }
    }
  }
}
