.landing-page-container {
  margin-top: 5em;

  .ui.secondary.pointing.menu {
    .tab-item {
      position: relative;
      display: block;
      font-size: 20px;
      font-weight: 500;

      // &::after {
      //   margin-right: 10px;
      //   // position: absolute;
      //   // bottom: 0;
      //   // width: 80%;
      //   // height: 1px;
      //   // background-color: red;
      //   // content: '';
      // }
    }

    .active.tab-item {
      font-weight: 500;
    }
  }

  .search-tab-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .search-tab {
    width: 1120px;
    margin-top: 4em;

    .ui.tab {
      padding-right: 0;
      padding-left: 0;
    }

    .ui.menu {
      a.item {
        border: none;
        border-bottom: 4px solid #fff;
        color: @s-dark-gray;
      }

      a.item.active {
        border-bottom: 4px solid @s-pine-green;
        color: @s-pine-green;
      }
    }

    .search-cards {
      display: flex;
      flex-wrap: wrap;
    }

    .ui.card {
      max-width: 210px;
      flex-direction: column;
      padding: 1.3em 0.7em;
      margin: 0;
      color: @s-dark-gray;
      cursor: pointer;
      text-align: center;

      .content {
        flex-grow: initial;
        padding: 0;
        padding-bottom: 0.5em;
      }

      .content > .description {
        color: @s-dark-gray;
        font-size: 18px;
      }

      .content.extra {
        color: @s-dark-gray;
      }

      &:hover {
        border: none;
        box-shadow: none;
      }

      img.facet-option-icon {
        display: block;
        width: auto;
        height: 30px !important;
        margin: 0 auto;
        margin-bottom: 0.5em;
        filter: grayscale(100%);
      }
    }
  }

  h4.browse-by {
    color: @s-dark-gray;
  }

  div.info {
    width: 100%;
    margin-bottom: 1em;
    color: @sf-medium-gray2;
    font-size: 12px;
  }

  .search-cards {
    display: flex;
    flex-wrap: wrap;
  }
}
