.landing-page-container {
  margin-top: 5em;

  .search-tab {
    margin-top: 2em;

    .ui.tab {
      padding-right: 0;
      padding-left: 0;
    }

    .ui.menu {
      a.item {
        font-size: 20px;
      }

      &::-webkit-scrollbar {
        height: 0.3rem !important;
      }
    }
  }

  .landing-page-cards {
    padding: 0 1.25rem;

    .ui.list {
      .item {
        padding: 3px 0 !important;
        break-inside: avoid-column;

        .content {
          cursor: pointer;
          font-weight: normal;
        }
      }

      .count {
        margin: 0 7px;
      }

      i.icon {
        margin-right: 7px;
      }

      .extra.content {
        padding: 10px 0;

        .count {
          margin: 0;
        }
      }

      img.facet-option-icon {
        display: block;
        width: auto;
        height: 20px !important;
        margin-top: 1em;
        margin-bottom: 0.2em;
        filter: grayscale(100%);
      }

      @media only screen and (min-width: 900px) {
        // max-width: 950px;
        column-count: 2;
        column-gap: 2.5em;
      }
    }

    // .ui.cards {
    //   .ui.card {
    //     margin-top: 2em;
    //     color: @deepBlue;
    //     cursor: pointer;

    //     &:hover {
    //       border: none;
    //       box-shadow: none;
    //     }

    //     .content {
    //       flex-grow: initial;
    //       padding: 0;
    //       padding-bottom: 0.5em;
    //     }

    //     .content > .header {
    //       color: @deepBlue;
    //       font-size: 18px;
    //       font-weight: 400;
    //     }

    //     .content.extra {
    //       justify-content: left;
    //       margin-top: auto;
    //       color: @deepBlue;
    //     }

    //     img.facet-option-icon {
    //       display: block;
    //       width: auto;
    //       height: 30px !important;
    //       margin-bottom: 0.5em;
    //       filter: grayscale(100%);
    //     }
    //   }
    // }
  }

  .tab-info {
    margin: 1.5em 0;
    color: @grey;
    font-size: 85%;
  }
}

// @media only screen and (max-width: @tabletBreakpoint) {
//   .landing-page-cards {
//     .ui.cards {
//       display: grid;
//       justify-content: space-between;
//       padding-right: 2px;
//       grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));

//       .ui.card {
//         width: unset;
//       }
//     }
//   }
// }
