.result__source {
  display: flex;
  column-gap: 0.3em;
  font-size: x-small;

  a {
    font-weight: normal;
  }
}

div#page-document div.searchapp div.cards div.search-result {
  overflow: auto;
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 1px solid @sf-light-gray2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  clear: both;

  div.menu.mlt {
    top: -100%;
    left: -5px;

    div.item {
      padding: 5px !important;
      background: @sf-azure;
      color: white;
      font-size: 10px;
      font-weight: 400;
    }
  }

  &:hover {
    div.controls {
      button {
        opacity: 1 !important;
      }
    }

    button.mlt {
      opacity: 1 !important;
    }
  }

  span.breadcrumb span {
    color: @sf-blue !important;
  }

  button.mlt {
    position: relative;
    top: -1px;
    margin-left: 0.5em;
    font-size: 10px;
    opacity: 0;
  }

  div.col-full {
    width: 100%;

    div.meta {
      margin-bottom: 0px;
      font-size: 12px !important;

      span.score {
        padding: 0px 5px 0px 5px;
        border: 1px solid @sf-light-gray2;
        margin-right: 20px;
        background: @sf-light-gray;
        border-radius: 2px;
      }

      i.angle.right.icon {
        margin: 0px !important;
        background: white !important;
      }

      span.cluster-icon {
        i.icon {
          margin-left: 0px;
          background: white;
          line-height: 1em;
        }
      }

      span.tags {
        margin-right: 10px;

        .pdf-icon {
          border: 1px solid @sf-medium-gray;
          color: @sf-medium-gray2;
          padding: 0 3px;
          font-size: xx-small;
          display: inline-block;
          margin-left: 0.5em;
          line-height: 1.5em;
        }
      }

      i.icon {
        margin-left: 3px;
        background: @sf-light-gray;
        line-height: 1em;
      }
    }
  }

  div.col-right {
    max-width: 180px;
    float: right;
    text-align: center;

    a,
    img {
      width: 180px;
      height: 100px;
      object-fit: cover;
    }

    img {
      padding: 0px 10px 10px 10px;
    }

    div.controls {
      display: flex;
      justify-content: center;

      button {
        margin: 3px;
        font-size: 10px;
        opacity: 0;
      }
    }
  }

  div.col-left {
    width: calc(100% - 180px);
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 0px;
    margin-top: 0px;
    float: left;

    &.no-image {
      width: 100% !important;
    }

    span.date {
      color: @sf-medium-gray2;
    }

    span.tags-list {
      display: block;
      color: @sf-dark-gray;
      font-size: 16px !important;
      font-weight: 200;

      span {
        margin-right: 0.5em;
        // padding: 1px 5px;
        // background: @sf-light-gray;
        // border-radius: 0.5em;
      }
    }

    h3 {
      margin-bottom: 0px !important;
      font-weight: 400;
    }

    div.ui.breadcrumb {
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 0.3em;
      color: @sf-medium-gray2;
      font-size: 10px !important;
      font-weight: 400;

      .divider {
        position: relative;
        top: -2px;
        margin: 0 0.3em;
      }

      .section {
        min-height: 1.1em;
      }
    }

    p {
      font-size: 14px !important;
    }

    div.source {
      margin-bottom: 10px;
      font-size: 10px !important;

      span {
        white-space: nowrap;
        overflow: hidden;
        // color: @sf-blue;
      }
    }

    h3,
    p {
      margin: 0px 0px 10px 0px;
    }

    p {
      color: @s-dark-gray;
      font-size: 12.8px;
    }
  }
}
