div#page-document {
  .searchlib-block {
    color: @deepBlue;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @lightBlack;
    }

    div.searchapp {
      margin: 1em 0;

      i.icon.dropdown:before,
      .ui.accordion .title .dropdown.icon:before,
      .ui.accordion .accordion .title .dropdown.icon:before {
        content: '\f0d7'; // fix compatibility with Volto?
      }

      .ui.accordion .active.title .dropdown.icon:before,
      .ui.accordion .accordion .active.title .dropdown.icon:before {
        content: '\f0d7'; // fix compatibility with Volto?
        // content: '\e9ce';
      }

      .ui.accordion .accordion .active.title .dropdown.icon,
      .ui.accordion .active.title .dropdown.icon {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    .body-content {
      width: 100% !important;
      padding: 0px !important;
      margin: 0 !important;

      div.col-mid {
        // padding: 0 40px;

        div.cards {
          margin-bottom: 5px;
        }
      }
    }

    .top-filter-layout {
      position: relative;

      .ui.dimmer {
        background-color: rgba(255, 255, 255, 0.5);

        .ui.loader {
          top: 10%;
        }
      }
    }

    .body-content,
    .body-footer {
      background-color: white;
    }

    .body-footer {
      margin-top: 2em;
    }

    div.sui-layout-header {
      div.header-columns {
        width: 100% !important;

        div.col-left {
          margin-top: 2.5em;
          text-align: right;

          div.search-logo {
            img {
              width: auto;
              height: 45px;
            }
          }
        }

        div.col-mid {
          padding-right: 0px;
          padding-left: 40px;
        }
      }

      h2 {
        margin-top: 1em;
        margin-bottom: 0px !important;
        font-size: 200%;
        font-weight: 700;
        text-align: left;
      }

      h3 {
        margin-top: 5px;
        color: @sf-medium-gray2;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
      }
    }

    .above-results {
      display: grid;
      margin-bottom: 2em;
      column-gap: 20px;
      grid-template-columns: 1fr 1fr;

      .above-right {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
      }

      .ui.dropdown {
        .icon.chevron {
          position: relative;
          top: -1px;
          margin-left: 0.3em;
          font-size: 0.6em;
        }
      }

      #archived-facet {
        position: relative;
        top: -1px;

        label {
          padding-left: 2.1rem;
          color: @sf-dark-gray !important;
          font-size: 12px !important;

          &:before {
            position: absolute;
            top: 6px;
            width: 1.7rem;
            height: 0.6rem !important;
            background: @sf-medium-gray2 !important;
            box-shadow: 0px 0px 0px 2px @sf-medium-gray2 !important;
          }

          &:after {
            position: absolute;
            top: 6px;
            width: 0.6rem !important;
            height: 0.6rem !important;
            background: white;
          }
        }

        .checked {
          label {
            color: @secondaryColor !important;
            font-weight: 600;

            &:before {
              background-color: @secondaryColor !important;
              box-shadow: 0px 0px 0px 2px @secondaryColor !important;
            }

            &:after {
              left: 1.1rem !important;
            }
          }
        }
      }

      .view-selector {
        width: auto !important;
        padding-left: 0px !important;
        // margin-left: 10px;
        font-size: 16px;

        .text {
          margin-right: 2px;
        }

        .ui.dropdown {
          .text {
            color: @sf-dark-gray;
            font-weight: 400;
          }

          > i.icon {
            color: @secondaryColor;
          }

          i.icon {
            margin-right: 0px;
          }

          i.dropdown {
            color: @sf-dark-gray !important;
            font-size: 12px;
          }
        }

        .buttons {
          button {
            background: @midGray;
            font-size: 12px;
          }

          button.active {
            background: @s-medium-gray;
          }
        }
      }

      .ui.button i {
        margin: 0px;
      }

      .sorting {
        width: auto;
        font-size: 16px;

        .inline.dropdown > span {
          color: @secondaryColor;
          font-weight: 600;
        }

        .ui.dropdown {
          div.text {
            color: @sf-dark-gray;
            font-weight: 400;
          }

          i.dropdown {
            font-size: 12px;
          }
        }
      }
    }

    .search-body-footer {
      .results-selector {
        display: none;
        font-size: 12px;

        .ui.dropdown {
          div.text {
            color: @sf-dark-gray;
            font-weight: 400;
          }

          i.dropdown {
            color: @sf-dark-gray !important;
            font-size: 12px;
          }
        }
      }
    }

    button.download-btn {
      display: none;
      background: #f2f2f2 !important;
      color: @secondaryColor !important;
      font-size: 10px !important;
    }

    .results-layout {
      &.fixed {
        max-width: @search-result-max-width;
      }

      // &.fullwidth {
      //   div.cards {
      //     display: grid;
      //     justify-content: space-between;
      //     padding-right: 2px;
      //     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      //   }
      // }
    }

    .top-filter-layout {
      .results-layout {
        max-width: none !important;
      }
    }
  }
}

.searchlib-block {
  .ui.secondary.pointing.content-section-tabs.menu {
    margin-bottom: 1em;
    overflow-x: auto;

    .item.dropdown {
      padding: 0px 10px 0px 10px;
      border: none;
      border-bottom: 4px solid white;
      background: white;
      color: @sf-dark-gray;
      font-size: 14px;
      font-weight: 400 !important;

      &:before {
        display: none;
      }

      div.menu {
        margin-top: 4px;
      }

      i.icon:first-of-type {
        display: none;
      }

      span.title {
        margin-right: 5px;
        color: @sf-dark-gray;
      }

      span.count {
        color: @sf-medium-gray2;
        font-size: 10px;
        font-weight: 400;
      }
    }

    a.item {
      color: @deepBlue;
      font-size: 18px;

      &:hover {
        background: white;
      }

      &:before {
        display: none;
      }

      &.active {
        color: @secondaryColor;
      }

      span.title {
        margin-right: 5px;
      }
    }

    &::-webkit-scrollbar {
      height: 0.3rem !important;
    }
  }
}

body.searchlib-page {
  overflow-x: hidden !important;

  div.header-wrapper[role='banner'] {
    z-index: 801 !important; // above sticky facets

    div.ui.container:first-of-type {
      width: 100vw !important;
    }
  }

  div#main > div.ui.breadcrumbs {
    display: none;
  }
}

.sui-app-info {
  margin: 2em 0;
  color: #808285;
  font-size: 85%;
  font-weight: 400;
}

p.highlight-description,
p.highlight-description\.highlight {
  em {
    font-style: normal !important;
    font-weight: bold;
  }
}

.visx-tooltip {
  z-index: 99;
  min-width: 100px;
  padding: 1em;
  background-color: white;
  border-radius: 0.3em;
  box-shadow: #000000ee 0px 0px 12px 0px;
  color: white;
  font-size: x-small;
  line-height: 2em;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  div.body-footer {
    div.col-left {
      display: none !important;
    }

    div.col-mid {
      padding-left: 1rem !important;
    }
  }

  div.sui-layout-header {
    div.ui.container.stackable.two.column.grid.header-columns {
      div.col-left {
        padding-left: 0px !important;
        text-align: left !important;
      }

      div.col-mid {
        padding-right: 2rem !important;
        padding-left: 0px !important;

        h2 {
          margin-top: 0px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ui.basic.segment.content-area .ui.container#page-document {
    padding: 0px 5px 0px 5px !important;
    margin-top: 0.5em !important;
  }

  div.col-left,
  div.col-left a,
  div.col-right {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0px !important;
  }

  div.col-right {
    a.img-thumbnail {
      display: none;
    }
  }

  div.col-left {
    img {
      max-height: 100px;
    }
  }

  div.view-selector {
    div.buttons {
      position: relative;
      left: -14px;
    }
  }

  div.above-results {
    display: flex;
    justify-content: left !important;
    margin-top: 1em !important;
    margin-bottom: 2em !important;
    column-gap: 10px;
    row-gap: 10px;

    div.sorting {
      margin: 0px !important;
    }

    div.view-selector {
      margin: 0px !important;
    }
  }
}

@media screen and (min-width: 750px) {
  div.body-content div.col-mid div.ui.doubling.stackable.one.cards {
    max-width: 1000px;
  }

  body.searchlib-page {
    &.has-toolbar {
      div.header-wrapper[role='banner'] {
        div.ui.container:first-of-type {
          width: calc(100vw - 100px) !important;
        }
      }
    }

    &.has-toolbar-collapsed {
      div.header-wrapper[role='banner'] {
        div.ui.container:first-of-type {
          width: calc(100vw - 50px) !important;
        }
      }
    }
  }
}
