.sui-search-box {
  position: relative;
  margin: 3em 0 2em 0;
}

.ui.list.search-list {
  > .item {
    padding-top: 0 !important;
    padding-bottom: 1em !important;
    color: @deepBlue !important;
    font-size: 18px !important;
    font-weight: 400 !important;
  }
}

.demo-question {
  margin-top: 2.5em;

  //TODO: move list with more space to design system
  .ui.list.search-list {
    display: flex;
    flex-direction: column;
    margin-top: 2em !important;
    gap: 1em;

    // > .item:not(:last-child) {
    // padding-bottom: 2.5em !important;
    // }
  }

  .ui.basic.button.explore-more-queries {
    display: flex;
    align-items: center;
    color: @deepBlue !important;
    float: right;
    font-size: 20px;
    font-weight: 700;

    .icon {
      display: flex;
      align-items: center;
      margin: 0 5px !important;
      font-size: 30px;
      opacity: 1;
    }

    &:hover,
    &:active,
    &:focus {
      border: none;
      background: transparent;
      box-shadow: none;
    }
  }
}

.sui-search-box__submit {
  flex-shrink: 0;
  padding: 16px;
  border: none;
  margin-left: 10px;
  background: linear-gradient(#2da0fa, #3158ee) #2f7cf4;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset,
    rgba(59, 69, 79, 0.05) 0px 1px 0px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;

  &:hover {
    background: linear-gradient(#3cabff, #4063f0) #3d84f7;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px inset,
      rgba(59, 69, 79, 0.3) 0px 2px 4px;
  }
}

.sui-search-box__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  border-radius: 3px;
  outline: none;
}

.sui-search-box__text-input {
  position: relative;
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
}

.sui-search-box__text-input {
  & > input {
    position: relative;
    display: flex;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    outline: none;
  }
}

.sui-search-box__text-input:focus {
  border-top: 1px solid #3a56e4;
  border-right: 1px solid #3a56e4;
  border-bottom: 1px solid #3a56e4;
  border-left: 1px solid #3a56e4;
  box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
}

.autocomplete .sui-search-box__text-input {
  box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
}

.sui-search-box__autocomplete-container {
  position: absolute;
  top: calc(3em + 4px);
  right: 0;
  left: 0;
  display: none;
  // max-width: 1000px;
  flex-direction: column;
  padding: 24px 0 12px 0;
  margin: 0;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1.5;
}

.autocomplete .sui-search-box__autocomplete-container {
  z-index: 3;
  display: flex;
}

.sui-search-box__autocomplete-container ul {
  padding: 0 0 24px 0;
  margin: 0;
  background: transparent;
  border-radius: 3px;
  list-style: none;
}

.sui-search-box__autocomplete-container ul:last-child {
  padding: 0;
}

.sui-search-box__autocomplete-container li {
  padding: 8px 40px;
  color: @primaryColor;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.sui-search-box__autocomplete-container li em {
  background: #edf0fd;
  color: #3a56e4;
  font-style: normal;
}

.sui-search-box__autocomplete-container li:hover {
  background: #3a56e4;
  color: #ffffff;
}

.sui-search-box__autocomplete-container li:hover em {
  background: transparent;
  color: #ffffff;
}

.sui-search-box__autocomplete-container li[aria-selected='true'] {
  background: @primaryColor;
  color: #ffffff;
}

.sui-search-box__autocomplete-container li[aria-selected='true'] em {
  background: transparent;
  color: #ffffff;
}

.sui-search-box__section-title {
  padding: 0 0 4px 40px;
  color: #888;
  font-size: 0.7em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  // display: none;
}

@media only screen and (max-width: 360px) {
  .sui-search-box__autocomplete-container li {
    font-size: 14px;
  }

  .sui-search-box__autocomplete-container {
    right: 50%;
    left: 50%;
    width: 100vw;
    padding-top: 10px;
    margin-right: -50vw;
    margin-left: -50vw;
  }

  .sui-search-box__section-title,
  .sui-search-box__autocomplete-container li {
    padding: 8px 30px;
  }
}
