.simple-item-extra {
  font-size: 90%;
}

.array-string-item {
  padding-right: 0.6em;
}

.listing-view-item.header {
  cursor: pointer;
}

.listing-view-details {
  .listing-view-details-section {
    padding: 1em 0em;

    .details-field {
      display: flex;
      border-bottom: 1px solid #ccc;
      font-size: medium;

      .details-field-label {
        width: 25%;
        padding: 0.3em 1em 0.3em 0.3em;
        border-right: 1px solid #ccc;
        background: #ddd;
        font-weight: bold;
      }

      .details-field-value {
        width: 75%;
        padding: 0.3em 0.3em 0.3em 1em;
        background: #f9f9f9;
        white-space: pre-wrap;
      }
    }
  }
}

.searchlib-block {
  .ui.cards {
    .ui.card.card-item {
      width: unset;
      min-width: 200px;
      flex-basis: 200px;
      flex-grow: 1;
      border: 1px solid @sf-light-gray2;
      border-radius: 0;

      &.hovered .content {
        max-height: 13.5em;
      }

      a {
        color: @linkColor;

        &:hover {
          color: @linkColor;
        }
      }

      .extra.content {
        border-top: 1px solid rgba(34, 36, 38, 0.1) !important;
      }

      .meta {
        color: rgba(0, 0, 0, 0.4);
      }

      .header {
        padding-top: 10px;

        a {
          font-size: 12px;
          font-weight: 500;
        }
      }

      .description {
        font-size: 12px;
      }

      .controls {
        .meta {
          display: flex;
          align-items: center;

          button {
            font-size: 10px;
          }

          a {
            margin-left: 5px;
          }
        }

        .card-icons {
          margin-left: auto;
        }

        .card-icon {
          width: 20px;
          height: 20px;

          i.icon {
            position: relative;
            top: 3px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

div#page-document .ui.four.cards {
  > .card.card-item {
    font-size: 0.8em;

    .content {
      font-size: 0.8em;
    }

    &.hovered {
      a.image {
        height: 80px;
      }

      .content {
        max-height: 13em;

        .description {
          max-height: 7em;
        }
      }

      .controls {
        display: block;
      }
    }

    .controls {
      display: none;
    }

    a.image {
      height: 180px;
      background-position: center;
      background-size: cover;

      img {
        display: none;
      }
    }

    .label.meta-type {
      position: absolute;
      z-index: 2;
      margin-top: 50px;
      background-color: #009590;
      border-radius: 0px !important;
      border-bottom-right-radius: 5px !important;
      border-top-right-radius: 5px !important;
      color: white;
      font-size: 12px;
    }

    .header {
      padding-top: 0.8em;
    }

    .content {
      overflow: hidden;
      max-height: 8em;

      .description {
        overflow: hidden;
        max-height: 4em;
      }

      .meta {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

div#page-document .horizontal-card-thumbnail {
  display: block;
  height: 100%;
  min-height: 10em;
  margin-right: 0.6em;
  background-position: center;
  background-size: cover;
  float: left;

  img {
    width: 100%;
    visibility: hidden;
  }
}

div#page-document .horizontal-card-item .content.details .header a {
  color: #004b87;
  font-size: 18px;
  font-weight: 700;

  &:hover {
    color: #8e004d;
  }
}

.searchlib-block .card-item .card-icon,
.searchlib-block .horizontal-card-item .card-icon {
  width: 30px;
  height: 30px;
  background: #fff no-repeat center;
  background-size: 100%;
  border-radius: 50%;
}

a.ui.mini.circular.compact.icon.right.floated.button.metaButton {
  padding: 3px;
}

div#page-document div.searchapp div.cards div.search-result {
  overflow: auto;
  width: 100%;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 2em;
  clear: both;

  // div.menu.mlt {
  //   top: -100%;
  //   left: -5px;
  //
  //   div.item {
  //     padding: 5px !important;
  //     background: @secondaryColor;
  //     color: white;
  //     font-size: 10px;
  //     font-weight: 400;
  //   }
  // }

  &:hover {
    div.controls {
      button {
        opacity: 1 !important;
      }
    }

    button.mlt {
      opacity: 1 !important;
    }
  }

  span.breadcrumb span {
    color: @primaryColor !important;
  }

  .result-description {
    margin-bottom: 0.8em;
  }

  .source {
    a {
      color: @mediumPersianBlue;
      font-size: 16px;
    }
  }

  .tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    color: @secondaryColor;
    font-size: 16px;
    font-weight: 700;
    // gap: 1.5em;

    span {
      margin-right: 20px;
    }
  }

  .col-full {
    width: 100%;

    .meta {
      display: flex;
      align-items: center;
      margin-bottom: 0.5em;

      span.score {
        padding: 0px 5px 0px 5px;
        border: 1px solid @sf-light-gray2;
        margin-right: 20px;
        background: @sf-light-gray;
        border-radius: 2px;
      }

      i.angle.right.icon {
        margin: 0px !important;
        background: white !important;
      }

      .tags-wrapper {
        display: flex;
        flex-direction: row;

        .tags {
          display: block;
          margin-right: 0.5em;
          color: @deepBlue;
          font-size: 16px;
          line-height: inherit;
        }
      }

      span.cluster-icon {
        i.icon {
          margin-left: 0px;
          background: white;
          line-height: 1em;
        }
      }

      span.tags {
        margin-right: 10px;

        .pdf-icon {
          display: inline-block;
          padding: 0 3px;
          border: 1px solid @sf-medium-gray;
          margin-left: 0.5em;
          color: @sf-medium-gray2;
          font-size: xx-small;
          line-height: 1.5em;
        }
      }

      i.icon {
        margin-left: 3px;
        background: @sf-light-gray;
        line-height: 1em;
      }
    }
  }

  div.col-right {
    max-width: 180px;
    float: right;
    text-align: center;

    a,
    img {
      width: 180px;
      height: 100px;
      object-fit: cover;
    }

    img {
      padding: 0px 10px 10px 10px;
    }

    div.controls {
      display: flex;
      justify-content: center;

      button {
        margin: 3px;
        font-size: 10px;
        opacity: 0;
      }
    }
  }

  span.date {
    margin-right: 1.2em;
    color: #808285;
    font-size: 16px;
  }

  div.col-left {
    width: calc(100% - 180px);
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 0px;
    margin-top: 0px;
    float: left;

    &.no-image {
      width: 100% !important;
    }

    h3,
    h3 > a {
      color: @deepBlue;
      font-size: 20px;
      font-weight: 700;
    }

    .result-description {
      p {
        color: @deepBlue;
        font-size: 20px !important;
        line-height: 24px;
      }
    }

    div.ui.breadcrumb {
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 0.3em;
      color: @sf-medium-gray2;
      font-size: 10px !important;
      font-weight: 400;

      .divider {
        position: relative;
        top: -2px;
        margin: 0 0.3em;
      }

      .section {
        min-height: 1.1em;
      }
    }
  }
}

.label.new-item,
.label.archived-item {
  padding: 0.3em !important;
  margin-left: 0.3em !important;
  font-size: 70% !important;
}

@media only screen and (max-width: @tabletBreakpoint) {
  div#page-document {
    div.searchapp div.cards div.search-result div.col-left h3,
    div.searchapp div.cards div.search-result div.col-left h3 > a,
    div.searchapp
      div.cards
      div.search-result
      div.col-left
      .result-description
      p {
      font-size: 16px !important;
    }
  }

  div.col-left .source span,
  div.col-left .source strong {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1279px) {
  .search {
    position: initial !important;
    order: 0 !important;
  }
}

@media only screen and (max-width: 1388px) {
  div.ui.doubling.stackable.four.cards {
    position: relative;
    top: 1em;
  }
}

@media only screen and (min-width: 770px) {
  div.col-left {
    div.scrolled {
      max-width: 280px;
      margin-left: auto;
    }
  }

  div.cards {
    div.card-item {
      max-width: 400px !important;
    }
  }
}

@media only screen and (min-width: 600px) {
  div.search-result {
    div.col-left {
      padding-right: 2em;
    }

    div.col-right {
      img {
        padding-right: 0px !important;
        margin-top: 10px;
      }
    }
  }
}
