@import '~./variables.less';
@import '@eeacms/volto-design-tokens/colors';

:root {
  --histogramFacetSelectedColor: #55cee4;
  --histogramFacetUnselectedColor: #e8e8e8;
  --histogramFacetTrackColor: #00548a;
  --histogramFacetDefaultSelectedColor: blue;
  --histogramFacetDefaultTrackColor: red;
  --backgroundColor: @grey-0;
  --tooltipTextColor: @grey-6;
  --histogramRailBackgroundColor: rgb(155, 155, 155);
  --sliderHandlesHighlightColor: rgba(0, 0, 0, 0);
  --sliderHandlesBoxShadowColor: rgba(0, 0, 0, 0.2);
  --disabledSliderHandlesBackgroundColor: #666;
  --sliderHandlesBackgroundColor: #00888a;
  --tickBackgroundColor: rgb(200, 200, 200);
  --disabledTrackBackgroundColor: #999;
  --handleTooltipBackgroundColor: @darkerGray;
  --handleTooltipTextColor: @mediumLightWhite;
  --loaderColor: #2d9390;
  --loaderDefaultColor: green;
  --rangeSliderDefaultColor: red;
  --rangeTrackBackgroundColor: rgba(0, 0, 0, 0.05);
  --rangeInvertedTrackBackgroundColor: rgba(255, 255, 255, 0.08);
  --rangeTrackFillBackgroundColor: #1b1c1d;
  --rangeInvertedTrackFillBackgroundColor: #545454;
  --rangeKnobBackgroundColorGradient: rgba(0, 0, 0, 0.5);
  --rangeKnobBackgroundColor: #205c90;
  --rangeKnobBoxShadowColor: rgba(34, 36, 38, 0.15);
  --disabledTrackFillBackgroundColor: @sf-medium-gray;
  --invalidInputTrackBackgroundColor: #ff0000;
}
