@import '~./variables.less';
@import '@eeacms/volto-design-tokens/colors';
@import '@eeacms/volto-eea-design-system/../theme/theme.config';

.searchlib-page,
.sui-search-box {
  --histogram-facet-selected-color: #55cee4;
  --histogram-facet-unselected-color: #e8e8e8;
  --histogram-facet-track-color: #00548a;
  --histogram-facet-default-selected-color: blue;
  --histogram-facet-default-track-color: red;
  --background-color: @grey-0;
  --tooltip-text-color: @grey-6;
  --histogram-rail-background-color: rgb(155, 155, 155);
  --slider-handles-highlight-color: rgba(0, 0, 0, 0);
  --slider-handles-box-shadow-color: rgba(0, 0, 0, 0.2);
  --disabled-slider-handles-background-color: #666;
  --slider-handles-background-color: #00888a;
  --tick-background-color: rgb(200, 200, 200);
  --disabled-track-background-color: #999;
  --handle-tooltip-background-color: @darkerGray;
  --handle-tooltip-text-color: @mediumLightWhite;
  --loader-color: #2d9390;
  --loader-default-color: green;
  --range-track-background-color: rgba(0, 0, 0, 0.05);
  --range-inverted-track-background-color: rgba(255, 255, 255, 0.08);
  --range-track-fill-background-color: #1b1c1d;
  --range-inverted-track-fill-background-color: #545454;
  --range-knob-background-color-gradient: rgba(0, 0, 0, 0.5);
  --range-knob-background-color: #205c90;
  --range-knob-box-shadow-color: rgba(34, 36, 38, 0.15);
  --disabled-track-fill-background-color: @sf-medium-gray;
  --invalid-input-track-background-color: #ff0000;
  --background-color-primary: @primaryColor;
  --background-color-secondary: @secondaryColor;
  --text-color-primary: @primaryColor;
  --text-color-secondary: @secondaryColor;
  --icon-color: @secondaryColor;
  --border-color: @secondaryColor;
  --box-shadow-color: @secondaryColor;
}
