@s-medium-gray2: #545454;
@s-medium-gray: #e0e1e2; // rgba(0, 0, 0, 0.85)

@sf-light-gray: #f2f2f2;
@sf-light-gray2: #e0e1e2;
@sf-medium-gray: #cccccc;
@sf-medium-gray2: #808080;
@sf-dark-gray: #303030;

@search-result-max-width: 1000px;

@mediumPersianBlue: #0065a4;
@deepBlue: #3d5265;
@midGray: #bcbec0;
@darkCerulean: #004b7f;
@blue-5: #004b7f;
@blue-grey-5: #3d5265;
@darkMidnightBlue: #0a3d61;
@green-5: #007b6c;
