@overlayZIndex: 1;

.aboveSearchblockOverlay {
  z-index: @overlayZIndex + 1;
  position: relative;
}

.searchlib-edit-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: @overlayZIndex;
}
