@overlayZIndex: 1;

.cms-ui {
  .aboveSearchblockOverlay {
    background: pink;
    padding: 0.4rem;
  }
}

.aboveSearchblockOverlay {
  z-index: @overlayZIndex + 1;
  position: relative;

  .ui.tabular.menu {
    .ui.basic.button {
      border: 0px;

      &.red {
        box-shadow: none !important;
      }

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.searchlib-edit-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: @overlayZIndex;
}

body.has-block-chooser {
  .aboveSearchblockOverlay {
    z-index: unset;
  }
}
