@import (multiple, reference, optional) '../../theme.config';

@type: extra;
@element: custom;

@import (multiple) '~@eeacms/search-less/theme.less';

@s-dark-gray: rgba(0, 0, 0, 0.87);
@s-medium-gray2: rgba(0, 0, 0, 0.67);
@s-medium-gray: #e0e1e2;
@s-light-gray: #edf1f2;
@s-light-orange: #ffdfbb;
@s-dark-orange: #9c5a0a;
@s-light-blue: #cfe8fb;
@s-dark-blue: #184799;

@sf-light-gray: #f9f9f9;
@sf-light-gray: #f2f2f2;
@sf-light-gray2: #e0e1e2;
@sf-azure: #2d9390;
@sf-dark-azure: #267f7c;
@sf-blue: #0f4b87;
@sf-medium-gray: #cccccc;
@sf-medium-gray2: #808080;
@sf-dark-gray: #303030;
@sf-medium-blue: #1c6ca4;

.sui-multi-checkbox-facet__option-input-wrapper {
  max-width: 15em;
}

.ui.four.cards > .card.card-item .content {
  font-size: 0.8em;
}

div#page-document {
  h1.documentFirstHeading {
    display: none;
  }

  div.searchapp {
    background-color: white;

    div.sui-layout-header {
      border-bottom: none;

      h2 {
        margin-bottom: 0px !important;
        font-size: 200%;
        font-weight: 700;
        text-align: center;
      }

      h3 {
        margin-top: 5px;
        color: @sf-medium-gray2;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
      }
    }

    div.sui-paging-info {
      color: @s-dark-gray;
    }

    div.sui-facet-search {
      margin: 0px;

      i.icon.search {
        position: relative !important;
        top: 2px;
        left: 7px;
      }
    }

    div.content-section-tabs.menu {
      overflow: hidden; // TODO limit the number of items I guess
      width: 100%;
      max-width: 100%;
      border-top: none;
      border-right: none;
      border-bottom: 1px solid @sf-light-gray2;
      border-left: none;
      margin-bottom: 0px;
      border-radius: 0px;
      box-shadow: none;

      a.item {
        padding: 0px;
        border-bottom: 4px solid white;
        margin-right: 3em;
        border-radius: 0px;
        color: @sf-dark-gray;
        font-size: 14px;

        &:hover {
          background: white;
        }

        &:before {
          display: none;
        }

        &.active {
          border-bottom: 4px solid @sf-azure;
        }

        span.title {
          margin-right: 5px;
        }

        span.count {
          color: @sf-medium-gray2;
          font-weight: 400;
        }
      }
    }

    div.facets {
      i.icon.dropdown {
        margin-right: 0px;
        float: left;
      }

      div.content.active {
        padding-top: 0px;
      }
    }

    div.stackable.cards {
      .card .meta {
        color: @s-medium-gray2 !important;
      }

      a.card {
        border: 1px solid @sf-light-gray2;
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: 3px;
        box-shadow: none;

        div.content {
          padding: 5px;

          div.header {
            position: relative;
            top: 5px;
            left: 5px;
            padding: 0px;
            margin: 0px;
            color: @sf-dark-gray;
            font-size: 16px;
            font-weight: 400;
          }

          div.meta {
            color: @sf-medium-gray2;
            font-size: 10px;
            text-align: right;
          }
        }

        &.active {
          background: @sf-light-gray;

          div.content {
            div.header {
              color: @sf-blue;
            }
          }
        }
      }
    }

    div.body-content {
      padding: 0px !important;

      div.three.wide.widescreen.column {
        padding-left: 0px;
      }

      div.nine.wide.widescreen.column {
        padding-right: 0px;

        div.cards {
          margin-bottom: 5px;
        }
      }
    }

    div.mlt-card {
      width: calc(100% - 16px);
      float: left;

      div.col-left {
        width: calc(100% - 100px);
        padding-right: 2em;
        float: left;

        div.meta {
          margin-bottom: 10px;
          font-size: 12px !important;
        }

        h4 {
          margin: 0px 0px 10px 0px;
        }
      }

      div.col-right {
        width: 100px;
        float: right;

        img {
          position: relative;
          top: 10px;
          width: 100px;
          height: auto;
        }
      }
    }

    div.sui-search-box {
      width: 60%;
      padding-top: 10px;
      margin: 2em auto 1em auto;

      div.sui-search-box__autocomplete-container {
        position: absolute;
        top: calc(4em + 3px);
      }

      div.extra-facets {
        div#exact-phrases-facet label {
          padding-left: 3rem !important;
          color: black !important;
        }
      }

      div.search-input {
        flex-wrap: wrap;
        border-radius: 0;

        div.search-phrase {
          display: flex;
          padding: 5px;
          margin-top: 2px;
          margin-bottom: 2px;
          background-color: @s-light-gray;

          i.trash {
            position: relative;
            top: 2px;
            margin-right: 0px;
            margin-left: 10px;
          }
        }

        div.button.microphone-input {
          margin-left: auto;
        }
      }

      div#archived-facet {
        div.toggle {
          label {
            color: @s-dark-gray !important;

            &:before {
              box-shadow: 0px 0px 0px 2px @sf-medium-gray2 !important;
            }

            &:after {
              background: white;
            }
          }

          &.checked {
            label {
              &:before {
                background-color: @sf-azure !important;
                box-shadow: 0px 0px 0px 2px @sf-azure !important;
              }
            }
          }
        }
      }
    }

    div.inline-filter-list {
      button.show-filters {
        position: relative;
        top: 9px;
        margin-left: 10px;
        background: white !important;
        border-radius: 2px;
        color: @sf-azure !important;
        float: left;
        font-size: 12px;
      }

      div.filter-list {
        margin-top: 0px;
        margin-bottom: 10px;
        background-color: @sf-light-gray;
        border-radius: 0px;

        div.filter-list-header {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }

        div.filter-list-content {
          position: relative;
          top: -5px;
          padding-right: 0.5rem !important;
          padding-bottom: 0.5rem !important;
          padding-left: 0.5rem !important;
        }

        .ui.inverted.accordion .title:not(.ui) {
          color: @s-dark-gray;
        }

        div.filter-name {
          position: relative;
          top: 5px;
          color: @s-dark-gray;
        }

        .ui.divider {
          border-top: 1px solid @sf-light-gray2 !important;
        }

        div.ui.label {
          background: white;
        }

        button.reset-filters {
          color: @sf-azure !important;

          i.icon {
            margin-left: 3px;
          }
        }
      }
    }

    div.above-results {
      display: initial;
      margin-bottom: 10px;

      div.view-selector {
        width: auto !important;
        padding-left: 0px !important;
        margin: 0px 10px 0px 10px;
        float: right !important;
        font-size: 12px;

        .ui.dropdown {
          div.text {
            color: @sf-azure;
          }

          i.dropdown {
            font-size: 12px;
          }
        }

        div.buttons {
          button {
            background: @s-light-gray;
            font-size: 12px;
          }

          button.active {
            background: @s-medium-gray;
          }
        }
      }

      button.ui.button i {
        margin: 0px;
      }

      div.sorting {
        width: auto;
        margin: 0px 10px 0px 10px;
        float: right;
        font-size: 12px;

        .ui.dropdown {
          div.text {
            color: @sf-azure;
          }

          i.dropdown {
            font-size: 12px;
          }
        }
      }

      div.answers-list {
        clear: both;
      }
    }

    div.cards {
      margin-bottom: 0px;
      clear: both;

      div.card-item {
        border-radius: 0px;

        div.header {
          padding: 10px 0px 0px 0px;

          a {
            font-size: 0.9em;
            font-weight: 500;
          }
        }
      }
    }

    div.search-result {
      overflow: auto;

      &:hover {
        div.controls {
          button {
            opacity: 1 !important;
          }
        }
      }

      width: 100%;
      padding-bottom: 5px;
      margin-top: 5px;
      clear: both;

      div.col-full {
        width: 100%;

        div.meta {
          margin-bottom: 5px;
          font-size: 12px !important;

          span.score {
            padding: 0px 5px 0px 5px;
            border: 1px solid @sf-light-gray2;
            margin-right: 20px;
            background: @sf-light-gray;
            border-radius: 2px;
          }

          span.date {
            margin-right: 20px;
          }

          span.tags {
            margin-right: 10px;
          }

          i.icon {
            margin-left: 3px;
            background: @sf-light-gray;
            line-height: 1em;
          }
        }
      }

      div.col-right {
        max-width: 180px;
        float: right;
        text-align: center;

        a,
        img {
          width: 180px;
        }

        img {
          padding: 0px 10px 10px 10px;
        }

        div.controls {
          display: flex;
          justify-content: center;

          button {
            margin: 3px;
            font-size: 10px;
            opacity: 0;
          }
        }
      }

      div.col-left {
        width: calc(100% - 180px);
        padding-top: 0px;
        padding-left: 0px;
        float: left;

        h3 {
          font-weight: 400;
        }

        p {
          font-size: 14px !important;
        }

        h3,
        p {
          margin: 0px 0px 10px 0px;
        }

        h3 div.label.new-item {
          padding: 4px 5px 4px 4px;
          background: @s-light-orange;
          color: @s-dark-orange;
          font-size: 70%;
        }

        h3 div.label.archived-item {
          padding: 4px 5px 4px 4px;
          background: @s-light-blue;
          color: @s-dark-blue;
          font-size: 70%;
        }

        p {
          color: @s-dark-gray;
          font-size: 12.8px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  div.col-left,
  div.col-left a,
  div.col-right {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0px !important;
  }

  div.col-left {
    text-align: center;

    img {
      max-height: 100px;
    }
  }

  div.view-selector {
    div.buttons {
      position: relative;
      left: -14px;
    }
  }
}

button.download-btn {
  font-size: 10px !important;
}

// TODO add a custom class for facet modals
div.ui.modal {
  background: @sf-light-gray;

  fieldset.sui-facet.searchlib-fixedrange-facet {
    padding: 20px;

    legend.sui-facet__title {
      position: relative;
      top: 15px;
      left: 12px;
      color: @sf-dark-gray;
      font-size: 14px;
      text-transform: initial;
    }
  }

  div.histogram-facet {
    padding: 20px;
    background: white;

    input {
      color: @sf-dark-gray;
      font-size: 14px;
      text-align: center;
    }
  }

  div.header {
    border: none;
    background-color: initial;

    div.multitermlist__facet__header {
      display: flex;
      justify-content: space-between;

      .facet-title {
        h3 {
          margin: 0 1em 0 0;
        }
        display: flex;
      }

      // h3 {
      //   width: 30%;
      //   float: left;
      //   font-size: 18px;
      //   font-weight: 600;
      // }
      //
      // div.search {
      //   width: 40%;
      //   float: left;
      //
      //   input.multitermlist__search__text-input {
      //     width: calc(100% - 30px);
      //   }
      // }
      //
      // div.toggleSort {
      //   width: 15%;
      //   float: right;
      //
      //   div.toggle-label {
      //     font-size: 14px;
      //   }
      // }
    }
  }

  button.term {
    padding: 12px 10px 12px 10px;
    border: 1px solid @sf-light-gray2;
    margin: 5px;
    background: white;
    border-radius: 2px;
    color: @sf-dark-gray;
    font-size: 12px;
    font-weight: 600;

    span.title {
      margin-right: 5px;
    }

    span.count {
      color: @sf-medium-gray2;
      font-size: 10px;
      font-weight: 400;
    }

    &.active {
      border-color: @sf-medium-blue;
      background: @sf-medium-blue !important;
      box-shadow: none;

      span.count {
        color: white;
      }

      &:hover {
        background: @sf-medium-blue !important;
      }
    }

    &:hover {
      background: @sf-light-gray;
    }
  }

  div.actions {
    border: none;
    text-align: left;

    button {
      padding: 12px 10px 12px 10px;
      border-radius: 2px;
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 1279px) {
  .search {
    position: initial !important;
    order: 0 !important;
  }
}

@media only screen and (max-width: 1388px) {
  div.ui.doubling.stackable.four.cards {
    position: relative;
    top: 1em;
  }
}

@media only screen and (max-width: 1080px) {
  div.sui-search-box {
    width: 100% !important;
    margin: initial !important;
  }

  div.facets {
    div.toggleSort {
      display: initial;

      select.match-select {
        margin-bottom: 3px;
        margin-left: 0px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  div.search-result {
    div.col-left {
      padding-right: 2em;
    }

    div.col-right {
      img {
        padding-right: 0px !important;
        margin-top: 10px;
      }
    }
  }
}

.answers-list {
  margin-top: 3em;

  .answers__directAnswer {
    font-size: xx-large;
  }

  .answers__links {
    margin-top: 0.8rem;
    font-size: small;

    .primary a {
      font-weight: bold;
    }
  }

  .search-result {
    font-size: 80%;
  }
}
